{{ 's-search.css' | asset_url | stylesheet_tag }}
<script src="{{ 'j-ps.js' | asset_url }}" defer="defer"></script>

<div class="search">
  <predictive-search>
    <form action="{{ routes.search_url }}" method="get" role="search">
      <label for="Search">Search</label>
      <input
        id="Search"
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results"
        aria-controls="predictive-search-results"
        aria-haspopup="listbox"
        aria-autocomplete="list"
      >
      <input name="options[prefix]" type="hidden" value="last">

      <div id="predictive-search" tabindex="-1"></div>
    </form>
  </predictive-search>

  {%- if predictive_search.performed -%}
    <div id="predictive-search-results">
      {%- if predictive_search.resources.products.size > 0 -%}
        <h3 id="predictive-search-products">Products</h3>
        <ul role="listbox" aria-labelledby="predictive-search-products">
          {%- for product in predictive_search.resources.products -%}
            <li role="option">
              <a href="{{ product.url }}">
                {{ product | image_url: width: 50 | image_tag }}
                <span>{{ product.title }}</span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <button>Search for “{{ predictive_search.terms }}”</button>
    </div>
  {%- endif -%}
</div>
