<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}
    {{ 'b-reset.css' | asset_url | stylesheet_tag }}
    {{ 'b-utils.css' | asset_url | stylesheet_tag }}
    {% render 'fonts' %}
  </head>
  <body>
    {% section 'header' %}
    {% section 'cart-drawer' %}
    {{ content_for_layout }}
    {% section 'footer' %}
    <script src="{{ 'j-global.js' | asset_url }}" defer></script>
  </body>
</html>
