{{ 's-footer.css' | asset_url | stylesheet_tag }}

{% liquid
  assign ig_link = 'https://www.instagram.com/nctrnstudio'
%}

{% comment %}
  <div class="footer__content">
    <p>© {{ 'now' | date: '%Y' }} Your Company Name. All rights reserved.</p>
    <p><a href="{{ shop.url }}/privacy-policy">Privacy Policy</a></p>
    <p><a href="{{ shop.url }}/terms-of-service">Terms of Service</a></p>
  </div>
{% endcomment %}

<footer class="f">
  <div class="f_t">
    <ul>
      <li>
        {{ 'About the Brand' | link_to: '/about' }}
      </li>
      <li>{{ 'Contact Us' | link_to: '/contact' }}</li>
      <li>{{ 'Instagram' | link_to: ig_link }}</li>
    </ul>

    <div class="nl">
      {% render 'newsletter' %}
    </div>
  </div>

  <div class="f_b">
    <p>nctrn © 20{{ 'now' | date: '%y' }}</p>
  </div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": []
}
{% endschema %}
