{{ 's-footer.css' | asset_url | stylesheet_tag }}

{% liquid
  assign ig_link = 'https://www.instagram.com/nctrnstudio'
%}

{% comment %}
  <div class="footer__content">
    <p>© {{ 'now' | date: '%Y' }} Your Company Name. All rights reserved.</p>
    <p><a href="{{ shop.url }}/privacy-policy">Privacy Policy</a></p>
    <p><a href="{{ shop.url }}/terms-of-service">Terms of Service</a></p>
  </div>
{% endcomment %}

<footer class="f">
  <ul>
    <li>
      {{ 'About the Brand' | link_to: '/about' }}
    </li>
    <li>{{ 'Contact Us' | link_to: '/contact' }}</li>
    <li>{{ 'Instagram' | link_to: ig_link }}</li>
  </ul>

  <ul>
    <li>Customer Service</li>
    <li>Shipping Policies</li>
    <li>Exchanges & Returns</li>
  </ul>

  <ul>
    <li>
      {{ 'Instagram' | link_to: ig_link }}
    </li>
  </ul>

  <div>
    <span>© {{ 'now' | date: '%Y' }}</span>
    <p>nctrn</p>
  </div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": []
}
{% endschema %}
