{{ 's-p-collection.css' | asset_url | stylesheet_tag }}
<script src="{{ 'j-collection.js' | asset_url }}" defer></script>

<div class="p">
  <div class="collection_sort_">
    <select class="collection_sort" id="sort-by">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

      {% for option in collection.sort_options %}
        <option
          value="{{ option.value }}"
          {% if option.value == sort_by %}
            selected="selected"
          {% endif %}
        >
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  {% comment %} {% assign breadcrumbs = collection.metafields.custom.breadcrumbs.value %} {% endcomment %}

  {% paginate collection.products by 6 %}
    <div class="collection_products">
      {% for product in collection.products %}
        {% render 'collection-product', product: product %}
      {% endfor %}
    </div>

    <div class="collection_nav">
      {{ paginate | default_pagination }}
    </div>
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "collection",
  "settings": []
}
{% endschema %}
