{{ 's-collection-product.css' | asset_url | stylesheet_tag }}
{{ 's-predictive-search.css' | asset_url | stylesheet_tag }}

{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    <!-- SUGGESTIONS -->
    {% comment %}
      <div class="ps-suggestions">
        <h3>SUGGESTIONS</h3>
        <ul>
          {%- for query in predictive_search.resources.queries -%}
            <li>
              <a href="{{ query.url }}" class="predictive-search__item link link--text" tabindex="-1">
                <div>
                  <p
                    aria-label="{{ query.text }}"
                  >
                    {{ query.styled_text }}
                  </p>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {% endcomment %}

    {%- if predictive_search.resources.products.size > 0 -%}
      <h3 id="predictive-search-products">PRODUCTS</h3>

      <ul class="ps_products">
        {%- for product in predictive_search.resources.products limit: 4 -%}
          <li>
            {% render 'collection-product', product: product %}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <button class="ps_btn">
      <a href="/search?q={{ predictive_search.terms }}" >
        ALL RESULTS ({{ predictive_search.resources.products.size }})
      </a>
    </button>
  </div>
{%- endif -%}
